.bonus {
  width: 280px;
  min-height: 289px;
  margin: 0 auto;
  border-top: 1px solid @mercury;
  margin-bottom: 31px;
  background-image: url("@{images}/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-top: 39px;
}

.bonus__title {
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 170px;
  text-align: center;
  bottom: -187px;
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    top: -121px;
    left: 58px;
    width: 55px;
    height: 60px;
    mask: url("@{images}/icon-gift.svg") no-repeat 50% 50%;
    background-color: @white;
  }
}
