.contacts {
  display: flex;
  background-color: @white;

  &--grey {
    padding-top: 28px;
    background-color: @concrete;
  }
}

.contacts br {
  display: none;
}

.contacts__title {
  margin: 0 0 0 20px;
  padding: 0;
  width: 143px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
}

.contacts__title br {
  display: inline;
}

.contacts__address {
  margin: 0 20px 28px 0;
  padding: 0;
  width: 140px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
}

.contacts__map {
  position: relative;
  box-sizing: content-box;
  margin: auto 0;
}

.contacts__map-picture {
  width: 320px;
  height: 360px;
}

.contacts__map-pin {
  position: absolute;
  top: 137px;
  left: 129px;
  width: 55px;
  height: 53px;
  background-image: url("@{images}/map-pin.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    justify-content: space-between;
    margin: 0 auto;
    padding: 65px 72px 25px;
  }

  .contacts--grey {
    padding-bottom: 47px;
  }

  .contacts br {
    display: inline;
  }

  .contacts__title {
    margin: 0;
    width: 200px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin-top: -1px;
    margin-right: 0;
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__map {
    position: relative;
    box-sizing: content-box;
    margin: auto 0;
  }

  .contacts__map-picture {
    width: 768px;
    height: 400px;
  }

  .contacts__map-pin {
    top: 150px;
    left: 322px;
    width: 113px;
    height: 106px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map-picture {
    width: 1440px;
    height: 400px;
  }

  .contacts__map-pin {
    top: 150px;
    left: 1022px;
  }
}
