.contacts {
  display: flex;
  background-color: @white;
  width: 320px;
  margin: 0 auto;


  &--grey {
    padding-top: 28px;
    background-color: @concrete;
  }
}

.contacts__title {
  margin: 0 0 0 20px;
  padding: 0;
  width: 143px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
}

.contacts__address {
  margin: 0 20px 28px 0;
  padding: 0;
  width: 140px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 626px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    padding-left: 70px;
    padding-top: 65px;
    padding-right: 70px;
    padding-bottom: 50px;
  }

  .contacts__title {
    margin: 0;
    width: 200px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin: 0;
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;

    & span {
      display: block;
      margin-top: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 570px;
    height: 200px;
    top: 25%;
    right: 52.7%;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
  }

  .contacts__title {
    margin: 0;
    margin-left: 49px;
    margin-top: -5px;
  }

  .contacts__address {
    margin: 0;
    margin-right: 64px;
    margin-top: -5px;
    text-align: left;
  }

  .contacts--white {
    background-color: @white;
  }
}
