.copyright__link {
  margin: 19px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @mine-shaft;

  &:hover {
    .copyright__link-icon {
      opacity: 1;
      fill: @apple;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-icon {
  margin-right: -5px;
  width: 40px;
  height: 40px;
  fill: @mine-shaft;

  &:hover {
    opacity: 1;
    fill: @apple;
  }

  &:active {
    opacity: 0.3;
    fill: @apple;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin: 19px 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright__link-icon {
    margin-right: -7px;
    margin-top: 7px;
  }
}
