.extra-product {
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    top: 43px;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: @apple;
    z-index: -1;
  }
}

.extra-product__title {
  position: relative;
  padding-top: 9px;
  padding-bottom: 14px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.extra-product__title span {
  padding-left: 19px;
  padding-right: 24px;
  background-color: @white;
}

.extra-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.extra-product__item {
  margin: 0 auto;
  width: 280px;
  border-top: 1px solid @mercury;
}

.extra-product__item-title {
  margin: 13px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 16px;
}

.extra-product__item-info {
  margin: 0 0 15px;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: 400;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.extra-product__item-buy {
  margin-bottom: 17px;
}

.extra-product__bonus {
  margin: 39px auto 36px;
  width: 280px;
  height: 289px;
  border-top: 1px solid @mercury;
  background-image: url("@{images}/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{images}/gift-photo-mobile@2x.jpg");
  }
}

.extra-product__bonus-title {
  position: relative;
  bottom: -187px;
  margin: 0 auto;
  padding: 0;
  width: 170px;
  color: @white;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 20px;

  &::before {
    position: absolute;
    top: -121px;
    left: 58px;
    width: 56px;
    height: 60px;
    content: " ";
    background-image: url("@{images}/icon-gift.svg");
  }
}

@media (min-width: @tablet-width) {
  .extra-product {
    &::after {
      top: 32px;
    }
  }

  .extra-product__title {
    margin: 0;
    padding-left: 28px;
    margin-bottom: 67px;
    font-size: 36px;
    line-height: 36px;
  }

  .extra-product__title span {
    padding-left: 39px;
    padding-right: 37px;
  }

  .extra-product__list {
    margin-bottom: 70px;
  }

  .extra-product__item {
    width: 708px;
    border-top: 1px solid @mercury;
    border-right: 1px solid @mercury;
    border-left: 1px solid @mercury;

    &:last-child {
      border-bottom: 1px solid @mercury;
    }
  }

  .extra-product__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 8px;
    width: 632px;
  }

  .extra-product__item-title {
    margin-top: 28px;
    font-size: 20px;
  }

  .extra-product__item-info {
    margin-top: 28px;
    width: 226px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    justify-content: flex-end;
  }

  .extra-product__item-info span {
    width: 94px;
  }

  .extra-product__item-buy {
    margin-bottom: 27px;
    margin-left: 38px;
    width: 632px;
  }

  .extra-product__bonus {
    margin-bottom: 75px;
    width: 708px;
    height: 200px;
    border-top: none;
    background-image: url("@{images}/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  .extra-product__bonus-title {
    bottom: -72px;
    margin-left: 423px;
    text-align: left;

    &::before {
      top: -6px;
      left: -332px;
    }
  }
}

@media (min-width: @desktop-width) {
  .extra-product {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      position: absolute;
      top: 32px;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: @apple;
      z-index: -1;
    }
  }

  .extra-product__title {
    margin: 0 auto;
    width: 1282px;
    padding-left: 0;
    margin-bottom: 67px;
  }

  .extra-product__title span {
    margin-left: -10px;
    padding-left: 40px;
  }

  .extra-product__wrapper-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 88px;
  }

  .extra-product__list {
    margin: 0;
  }

  .extra-product__item {
    display: flex;
    justify-content: space-between;
    width: 895px;
    height: 71px;
    border-right: 0;
    border-left: 0;
  }

  .extra-product__item-info {
    width: 307px;
    justify-content: space-between;
  }

  .extra-product__item-info span {
    width: 63px;
    text-align: left;
  }

  .extra-product__item-buy {
    margin: 15px 0;
    padding: 0;
    width: 245px;
  }

  .extra-product__wrapper {
    margin: 0;
    padding: 0;
  }

  .extra-product__bonus {
    margin: 0;
    padding: 0;
    width: 245px;
    height: 289px;
    background-image: url("@{images}/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 245px 289px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{images}/gift-photo-desktop@2x.jpg");
    }
  }

  .extra-product__bonus-title {
    bottom: -187px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 20px;

    &::before {
      top: -121px;
      left: 58px;
    }
  }
}
