.intro {
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #63a73a;
  height: 305px;
  background-image: url("@{images}/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px 305px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{images}/index-background-mobile@2x.jpg");
  }
}

.intro__tagline {
  margin: 0;
  margin-top: 27px;
  padding: 0;
  width: 250px;
  color: @white;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
}

.intro__text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 27px;
  padding: 0;
  width: 250px;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.intro__product-photo {
  margin-bottom: 2px;
}

.intro__link-form {
  font-size: 14px;
  order: 2;
}

@media (min-width: @tablet-width) {
  .intro {
    margin: 0;
    margin-top: 27px;
    padding: 0;
    width: 100%;
    min-height: 812px;
    background-image: none;
    background-color: transparent;
  }

  .intro__tagline {
    margin: 0;
    margin-bottom: 41px;
    width: 534px;
    color: @black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  .intro__text {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    width: 534px;
    color: @black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__link-form {
    margin: 0;
    margin-left: -289px;
    padding: 0;
    width: 243px;
    min-height: 52px;
    font-size: 20px;
    line-height: 52px;
    order: 0;
  }

  .intro__product-photo {
    position: relative;
    margin-top: -80px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 1062px;
    min-height: 633px;
  }

  .intro__tagline {
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .intro__text {
    margin-bottom: 53px;
  }

  .intro__product-photo {
    position: relative;
    right: 164px;
    margin: 0;
    padding: 0;
    width: 552px;
    height: 499px;
  }
}
