.intro {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 305px;
  background-image: url("@{images}/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{images}/index-background-mobile@2x.jpg");
  }
}

.intro__tagline {
  margin: 0;
  margin-top: 27px;
  margin-left: 35px;
  padding: 0;
  width: 250px;
  color: @white;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
}

.intro__text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 27px;
  margin-left: 34px;
  padding: 0;
  width: 250px;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.intro__product-photo {
  margin-bottom: 2px;
  margin-left: 20px;
}

.intro__link-form {
  margin-left: 20px;
  font-size: 14px;
  order: 2;
}

@media (min-width: @tablet-width) {
  .intro {
    margin: 0;
    margin-top: 27px;
    padding: 0;
    width: 100%;
    min-height: 812px;
    background-image: none;
  }

  .intro__tagline {
    margin: 0;
    margin-bottom: 41px;
    margin-left: 117px;
    width: 490px;
    color: @black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  .intro__text {
    margin: 0;
    margin-bottom: 48px;
    margin-left: 117px;
    padding: 0;
    width: 490px;
    color: @black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__link-form {
    margin: 0;
    margin-left: 120px;
    padding: 0;
    width: 243px;
    min-height: 52px;
    font-size: 20px;
    line-height: 52px;
    order: 0;
  }

  .intro__product-photo {
    position: relative;
    margin-top: -80px;
    margin-left: 30px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    margin: 0 auto;
    margin-bottom: 148px;
    width: 1220px;
    height: 485px;
    flex-wrap: wrap;
    min-height: 300px;
  }

  .intro__tagline {
    margin-top: 80px;
    margin-left: 80px;
    width: 415px;
  }

  .intro__text {
    margin-left: 80px;
    margin-bottom: 53px;
    width: 415px;
  }

  .intro__link-form {
    margin-left: 80px;
  }

  .intro__product-photo {
    margin: 0;
    margin-left: -221px;
    padding: 0;
    width: 592px;
    height: 499px;
    z-index: 0;
  }
}
