.map {
  position: relative;
}

.map__picture {
  width: 320px;
  height: 360px;
}

.map__pin {
  position: absolute;
  top: 137px;
  left: 129px;
  width: 55px;
  height: 53px;
  background-image: url("@{images}/map-pin.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .map {
    position: relative;
    background-color: @concrete;
  }

  .map__picture {
    width: 768px;
    height: 400px;
  }

  .map__pin {
    top: 150px;
    left: 322px;
    width: 113px;
    height: 106px;
  }
}

@media (min-width: @desktop-width) {
  .map__picture {
    width: 100%;
    max-width: 1440px;;
  }

  .map__pin {
    top: 150px;
    left: 998px;
  }
}
