.page-header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-bottom: 1px solid @mercury;
  max-width: 320px;
}

.page-header__logo {
  margin-top: 10px;
  margin-left: 20px;
  width: 191px;
  height: 54px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    max-width: 768px;
  }

  .page-header__logo {
    margin-top: 24px;
    margin-bottom: 31px;
    margin-left: 30px;
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    border-bottom: none;
    width: auto;
    max-width: 1440px;
  }

  .page-header--index::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    z-index: -1;
    height: 696px;
    background-color: #65a93c;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 720px 696px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .page-header__logo {
    margin-top: 54px;
    margin-left: 110px;
    width: 202px;
    height: 59px;
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
