.page-header {
  display: flex;
  flex-direction: column;
  background: @white;
  border-bottom: 1px solid @mercury;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  width: 191px;
  height: 54px;
  margin-left: 20px;
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    border-bottom: none;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
    margin-left: 30px;
    margin-top: 24px;
    margin-bottom: 31px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1440px;
    border-bottom: none;
  }

  .page-header--index {
    background-image: url("@{images}/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    height: 696px;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
    margin-left: 110px;
    margin-top: 54px;
  }
}
