.page-footer {
  margin: 0 auto;
  background-color: @concrete;
}

.page-footer__desktop-wrapper {
  background-color: @white;
}

.page-footer__copyright {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 280px;
}

.page-footer__logo {
  margin: 0 auto;
  width: 280px;
}

.page-footer__logo-img {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 93px;

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin: 0 auto 18px;
  min-height: 62px;
  width: 280px;
  border-top: 1px solid @alto;
  border-bottom: 1px solid @alto;
}

@media (min-width: @tablet-width) {
  .page-footer__contacts-map {
    background-color: @white;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 707px;
    height: 128px;
    background-color: @concrete;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    width: 163px;
  }

  .page-footer__logo-img {
    margin: 0;
    margin-top: -5px;
    padding: 0;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
    min-height: 0;
    width: 142px;
    border: none;
  }

  .page-footer__copyright {
    margin: 0;
    margin-top: -8px;
    padding: 0;
    width: 163px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 100%;
    max-width: 1440px;
    height: 154px;
    background-color: @concrete;
  }

  .page-footer__logo {
    margin-left: 110px;
  }

  .page-footer__copyright {
    margin-right: 110px;
  }

  .page-footer__contacts-map {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
}
