.product {
  margin: 0 auto;
}

.product__title {
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 29px;
  padding-left: 20px;
  border-bottom: 1px solid @mercury;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.product__list {
  margin: 0 auto;
  margin-bottom: -2px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid @mercury;
}

.product__item-name {
  display: block;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  padding: 0;
  width: 100px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
}

.product__item-name a {
  color: @black;
}

.product__tablet {
  display: flex;
  margin: 0;
  padding: 0;
}

.product__item-info {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  font-weight: 400;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.product__item-info td {
  padding: 0;
}

.product__item-info td:nth-child(2n) {
  text-align: right;
}

.product__item-image {
  display: block;
}

.product__wrapper {
  display: block;
  width: 140px;
}

.product__more {
  margin: 10px auto 0;
  padding-bottom: 24px;
  border-bottom: 1px solid @mercury;
  background-color: transparent;
  background-image: url("@{images}/icon-plus-mobile.svg");
  background-position: 50% 18px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.product__more-title {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
}

.product__more-text {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.product__more-button {
  background-color: @concrete;
  color: @black;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;

  &:hover,
  &:focus {
    background-color: @gallery;
  }

  &:active {
    color: @black;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .product__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 26px;
    padding-left: 30px;
    border-bottom: none;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .product__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
  }

  .product__item {
    margin: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 56px;
    margin-bottom: 2px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border: none;
    align-items: center;
    background-image: linear-gradient(to top, @concrete 431px, transparent 431px);
    min-height: 511px;
  }

  .product__tablet {
    flex-direction: column;
  }

  .product__item-image {
    margin-bottom: 37px;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .product__item-name {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    width: 130px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product__item-info {
    margin-bottom: 33px;
    width: 249px;
    font-size: 16px;
    line-height: 16px;
  }

  .product__item-info tr {
    border-bottom: 1px solid @alto;
  }

  .product__item-info td {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .product__item-buy {
    margin-bottom: 40px;
    width: 249px;
  }

  .product__more {
    margin: 0;
    margin-left: 30px;
    margin-top: 139px;
    padding: 0;
    width: 322px;
    height: 430px;
    border: 1px solid @alto;
    background-color: transparent;
    background-image: url("@{images}/icon-plus.svg");
    background-position: 50% 54px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
  }

  .product__more-title {
    margin: 0 auto;
    margin-bottom: 26px;
    padding-top: 163px;
    width: 140px;
    font-size: 20px;
  }

  .product__more-text {
    margin: 0 auto;
    margin-bottom: 86px;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
  }

  .product__more-button {
    margin-left: 37px;
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    margin-bottom: 5px;
  }

  .product__title {
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 85px;
    padding: 0;
    width: 100%;
    max-width: 1220px;
  }

  .product__list {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .product__item {
    margin: 0;
    margin-right: 80px;
    margin-bottom: 61px;
    padding: 0;
    width: 245px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .product__item-name {
    margin-bottom: 19px;
  }

  .product__item-image {
    margin-bottom: 36px;
  }

  .product__item-info {
    width: 169px;
  }

  .product__item-buy {
    width: 169px;
  }

  .product__more {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 243px;
  }

  .product__more-button {
    width: 169px;
  }
}
